

.study-cards{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    /* margin-top: 3rem; */
    /* border: 1px solid rgb(215, 215, 215); */
    border-radius: 10px;
    

}
.study-card{
    width: 47%;
    height: fit-content;
   
    padding: 2rem;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;

}
.study-card h1{
    font-size: 1.5em;
    font-family: poppins;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.study-card p{
    font-size: 1em;
    font-family: poppins;
    font-weight: 400;
    color: rgb(96, 96, 96);
}
.study-btn {
    font-family: poppins;
    font-size: 1.3rem;
    font-weight: 600;
    color:  #001a6a;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #001a6a;
    background: #00ffdd;
    box-shadow: 3px 3px #001a6a;
    cursor: pointer;
    margin-bottom: 15px;
    /* margin-top:17px; */
  }
  .study-btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
  .difz{
    color:#00ffdd;
    font-weight: 700;
    box-shadow: #001a6a 0px 0px 0px 0px;
  }


  .career
  {
    width:70%;
    margin:  0 auto;
    margin-top: 3rem;
  }
  .career h1{
    font-size: 3em;
    font-family: poppins;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .career p{
    font-size: 1em;
    font-family: poppins;
    font-weight: 400;
    color: rgb(96, 96, 96);
    text-align: center;
  }
.cnt{
    width:70% ;
    margin: 0 auto;
    margin-top: 1rem;
    
}
.cnt h1{
     font-family: poppins;
    font-size: 2.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
}

@media (max-width: 800px) {
    .study-cards{
        width: 100%;
        display: block;
        margin: 0 auto ;
        padding: 0;
    }
    .study-card{
        width: 90%;
        height: fit-content;
        border: 1px solid rgba(5, 0, 95, 0.191);
        margin:  0 auto ;
        margin-bottom: 1rem;
    }
    .study-card h1{
        font-size: 1.4em;
        font-family: poppins;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
    .study-card p{ 
        font-size: 0.8em;
    }
    .study-btn{
        font-size: 0.9em ;
    }
    .career{
        width: 80%;
    }
    .career h1{
        font-size: 2em;
    }
    .career p{
        font-size: 0.8em;
    }
    .cnt{
        width: 85%;
    }
    .cnt h1{
        font-size: 1em;
    }
}