.visa-sub-heading1 {
    width: 33rem;
    text-align: center;
}
.visa-sub-heading1 h1{
    font-size: 4.5em;
    font-family: poppins;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.visa-sub-heading1 p{
    font-size: 1.1em;
    font-family: poppins;
    font-weight: 400;   
}
@media (max-width: 800px) {
    .visa-sub-heading1{
        width: 15rem;
        text-align: center;
 
        width: 20rem;
       
    }
    .visa-sub-heading1 h1{
        font-size: 3em;
        line-height: 42px;
    }
    .visa-sub-heading1 p{
        font-size: 0.9em;
        line-height: 17px;
    }
}