:root{
    --primary-color: #00ead6;
    --secondary-color: #00307e;
    --accent-color: #f0f0f0;
}
.btn1 {
position: relative;
top: -12px;
padding:8px 20px ;
border-radius: 2px;
outline: none;
border:2px solid rgb(0, 16, 119) ;

border-radius: 10px;
cursor: pointer;
font-size: 18px;
color: var(--secondary-color);
font-family: poppins;
font-weight: 700;
background-color: var(--primary-color) ;
}
.btn1:hover{
    padding: 7px 19px;
    background-color: #0fffeb;
    transition: all 0.3s ease-out ;
    border-radius: 13px;
}
